.media-entity-consent--wrapper {
  padding: 0.5rem;
  background: #e9e9e9;
}

.media-entity-consent--wrapper.consent-given {
  display: inline-block;
}

.consent-denied .media-entity-consent--footer,
.consent-given .media-entity-consent--form {
  display: none;
}

.consent-given .media-entity-consent--footer {
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 0.2em;
  font-size: 0.8em;
}

.consent-given .media-entity-consent--footer p:first-child {
  margin-top: 0;
}

.consent-given .media-entity-consent--footer p:last-child {
  margin-bottom: 0;
}

.media-entity-consent-user-form label.option {
  display: inline;
  font-weight: bold;
}
